.container {
  color: #939393;
  background-color: #f3f3f3;
  overflow: hidden;

  ul {
    display: flex;

    li {
      display: flex;
      justify-content: center;
      padding: 25px 0;
      width: 100%;

      button {
        border: none;
        background-color: inherit;
      }
    }
  }
}

.tab {
  cursor: pointer;
  border: 1px solid #dbdbdb;
}

.selectedTab {
  border-color: white;
  color: #a96bb0;
  background-color: white;
}

.currentTab {
}

.archiveTab {
}
